
.notice.notice-vipps.notice-info {
    border-left-color: #fe5b24;
    min-height: 56px;
}
.notice.notice-vipps.notice-info > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.notice.notice-vipps.notice-info.notice-vipps-neg {
    border-color: #fe5b24 !important;
    background-color: #fe5b24 !important;
    color: white !important;
    min-height: 56px;
}
.notice.notice-vipps.notice-info.notice-vipps-neg a {
   color: white !important;
   text-decoration: none;
}
.notice.notice-vipps.notice-info.notice-vipps-neg button.notice-dismiss {
   color: white;
}
.notice.notice-vipps.notice-info.notice-vipps-neg button.notice-dismiss::before {
   color: white;
}

/* IOK for the blocks editor, payment blocks  copied from vipps.css. 2020-08-10 */
.wc-block-components-tabs .wc-block-components-tabs__list > .wc-block-components-tabs__item .wc-block-components-tabs__item-content > img.vipps-payment-logo {
 height: 2em;
 margin-bottom: -0.7em;
}

/* Ditto for the products blocks IOK 2020-09-03 */
.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.vipps-buy-now {
 color: #fff;
 background-color: #fe5b24;
 display: inline-block;
 border:0;
 min-width:15em;
}

.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.vipps-buy-now img.vipps-logo.negative {
 display: inline-block;
 margin: 0 .2em;
 height: 2ex;
 vertical-align: text-bottom;
}


.editor-styles-wrapper .block-editor-block-icon .vipps-component-icon {
 max-width: 32px;
 max-height: 32px;
}

/* Admin-menu for vipps */
li#toplevel_page_vipps_admin_menu .wp-menu-image.dashicons-before img {
    width: 20px; opacity: .9; padding-bottom: 2px;
}
