/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.create-link-section {
	display: flex;
	justify-content: end;
	align-items: end;
}

.vipps-sharelink-variant {
	width: 200px;
}
.table-actions-col {
	width: 200px;
}
