.vipps-mobilepay-react-form-field {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.vipps-mobilepay-react-form-field > label {
  width: 15%;
}
.vipps-mobilepay-react-form-field > div {
  width: 85%;
}

.vipps-mobilepay-react-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vipps-mobilepay-react-label {
  font-weight: 600;
  color: rgb(29, 35, 39);
  font-size: 14px;
}

.vipps-mobilepay-react-tab-description {
  margin-bottom: 1rem;
}

.vipps-mobilepay-react-field-description {
  color: #666;
}
.vipps-mobilepay-react-row-center {
  display: flex;
  align-items: center;
}
