table.webhook-table tr.local {
    font-weight: bold;
}
table.webhook-table {
    width: 80%;
}
table.webhook-table td.actions {
    text-align: center;
}

.notice.notice-vipps.notice-info {
    border-left-color: #fe5b24;
    min-height: 56px;
}
.notice.notice-vipps.notice-info > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.notice.notice-vipps.notice-info.notice-vipps-neg {
    border-color: #fe5b24 !important;
    background-color: #fe5b24 !important;
    color: white !important;
    min-height: 56px;
}
.notice.notice-vipps.notice-info.notice-vipps-neg a {
   color: white !important;
   text-decoration: none;
}
.notice.notice-vipps.notice-info.notice-vipps-neg button.notice-dismiss {
   color: white;
}
.notice.notice-vipps.notice-info.notice-vipps-neg button.notice-dismiss::before {
   color: white;
}

/* IOK for the blocks editor, payment blocks  copied from vipps.css. 2020-08-10 */
.wc-block-components-tabs .wc-block-components-tabs__list > .wc-block-components-tabs__item .wc-block-components-tabs__item-content > img.vipps-payment-logo {
 height: 2em;
 margin-bottom: -0.7em;
}

/* Ditto for the products blocks IOK 2020-09-03 */
.wp-block-button__link.vipps-buy-now {
 color: #fff;
 display: inline-block;
 border:0;
}

.wp-block-button__link.vipps-buy-now img.vipps-logo.negative {
 display: inline-block;
 margin: 0 .2em;
 height: 2ex;
 vertical-align: text-bottom;
}


.editor-styles-wrapper .block-editor-block-icon .vipps-component-icon {
 max-width: 32px;
 max-height: 32px;
}

/* Gutenberg buy-now product block, copied from vipps.css LP 02.12.2024 */
.vipps-buy-now-block-edit-header {
    display: flex;
    flex-direction: row;
    gap: .8rem;
    margin-bottom: .5rem;
    justify-content: center;
}
.vipps-buy-now-button-product-search {
    margin-bottom: .4rem;
}
div.wp-block-button.wc-block-components-product-button.wc-block-button-vipps {
    text-align: center;
}
div.wp-block-button.wc-block-components-product-button.wc-block-button-vipps a.single-product.button.vipps-buy-now{
    display: inline-block;
    background-color: transparent;
    border: 0;
}
div.wp-block-button.wc-block-components-product-button.wc-block-button-vipps a.single-product.button.vipps-buy-now img{
    max-width: 10rem;
}

/* Admin-menu for vipps */
li#toplevel_page_vipps_admin_menu .wp-menu-image.dashicons-before img {
    width: 20px; opacity: .9; padding-bottom: 2px;
}

/* For the QR code page */
body.post-type-vipps_qr_code.wp-admin .vipps-page-selector { width:100% }
body.post-type-vipps_qr_code.wp-admin .vipps-page-selector { width:100% }
body.post-type-vipps_qr_code.wp-admin .url-section .url-options .url-option {
    display:none;
}
body.post-type-vipps_qr_code.wp-admin .url-section .url-options .url-option.active {
    display:block;
}

#vipps_unsynchronized_qr_codes {
    max-width:1000px;
    min-width:600px;
}


.vipps-admin-page {
   background-color: white;
   color:  #161225;
   font-family: "Vipps Text", Roboto, Helvetica, Arial, sans-serif;
}
.vipps-admin-page h2, .vipps-admin-page h3{
    font-size: 1.6em;
}
.wrap.vipps-admin-page p {
    font-size: larger;
}
.vipps-admin-page-header h1 img {
    vertical-align: middle;
    height: 8rem;
}
.vipps-admin-page-header h1 {
    color: #fe5b24;;
    font-family: "Vipps Display", Roboto, Helvetica, Arial, sans-serif;
}
.vipps-admin-page-header {
    font-family: "Vipps Display", Roboto, Helvetica, Arial, sans-serif;
    min-height: 2rem;
    background-color: #fff4ec;
    color: #fe5b24;
    margin-left: -2rem;
    padding-left: 2rem;
    margin-top: -2rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.vipps-admin-page-header.mobilepay h1 {
    color: #5a78fff7;
}

.vipps-admin-page-header.mobilepay {
    background-color: #f2f4ff;
    color: #5a78fff7;
}

.vipps-admin-page .vipps_admin_highlighted_section {
    background-color: #fff4ec;
    color: #fe5b24;
    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: -2rem;
    padding-bottom: .2rem;
    padding-top: .2rem;
}
.vipps-admin-page .vipps_admin_highlighted_section.mobilepay {
    background-color: #f2f4ff;
    color: #5a78fff7;
}
.vipps-admin-page .vipps_admin_highlighted_section a {
    color: #551488;
    text-decoration:none;
}
.vipps-admin-page .vipps_admin_highlighted_section a:visited {
    color: #551488;
}
.vipps-admin-page .vipps_admin_highlighted_section a:hover {
    color: #551488;
    font-weight: 500;
}
.vipps-admin-page .vipps_admin_highlighted_section a:active {
    color: #551488;
    font-weight: 500;
}
#vipps_unsynchronized_qr_codes .importtable {
    width: 100%;
    max-width: 100%;
}
#vipps_unsynchronized_qr_codes .importtable .checkboxcell {
   width: 2rem;
}
#vipps_unsynchronized_qr_codes .importtable .idcell{
   text-align:left;
   width:25%;
}
#vipps_unsynchronized_qr_codes .importtable .urlcell{
}
#vipps_unsynchronized_qr_codes .importtable .urlcell input {
   width: 100%;
}

#vipps_unsynchronized_qr_codes .buttonsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
#vipps_unsynchronized_qr_codes .buttonsection .button.primary {
    background-color: #fff4ec;
    color: #fe5b24;
    border-color:  #fe5b24;
    box-shadow: 0 0 0 1px #fff4ec;
    font-family: "Vipps Display", Roboto, Helvetica, Arial, sans-serif;
}
#vipps_unsynchronized_qr_codes .buttonsection .button.secondary{
    border-color:  red;
    color: red;
    box-shadow: 0 0 0 1px #fff4ec;
    font-family: "Vipps Display", Roboto, Helvetica, Arial, sans-serif;
}

/* Options CSS for the modified settings page */
.vippsoptions.vippstabs.active { display: block; }
.vippsoptions.vippstabs { display: none; }
#vippstabholder { display: flex; justify-content: flex-start; }
#vippstabholder h3 { padding-left: 1rem; padding-right: 1rem; opacity:0.65; border: 1px solid darkgray; border-top-left-radius:0.3rem; border-top-right-radius:0.3rem; padding-top:0.3rem; padding-bottom:0.3rem; border-bottom: 0.8px solid lightgrey; background-color:rgba(0,0,0,0.1); }
#vippstabholder h3.active { opacity:1; border-bottom:0; background-color:transparent;}
#vippstabholder h3.last { flex: 1; border-top:0;border-right:0;border-left:0; background-color:transparent;}


@media screen and (max-width: 600px) {
    .woocommerce_page_wc-settings #vippstabholder h3.wc-settings-sub-title {
        font-size: 0.8rem;
    }
}

/* Badge page stuff */
.vipps-badge-settings label {
    width: 40%;
    display: inline-block;
    font-weight: 550;
}

.vipps-badge-settings  div {
    margin-top: .5rem;
}

.woo-vipps-warning::before {
    content:"⚠ ";
    color: darkred;
}
.woo-vipps-warning {
    font-size:larger;
    font-weight:medium;
}

/* Button page stuff */
.vipps-button-settings label {
    width: 20%;
    display: inline-block;
    font-weight: 550;
}

.vipps-button-settings-img-container {
    max-width: 768px;
    display: flex;
    justify-content: center;
}

.vipps-button-settings-img-container img {
    margin-top: 0.5rem;
}

.vipps-button-settings-section {
    margin-bottom: 2rem;
}

.vipps-button-settings-express-force-mini-container {
    margin-bottom: .5rem;
}
