.vipps-recurring-checkout-page {
	&__error {
		text-align: center;

		&__action {
			//
		}
	}

	&__loading {
		display: flex;
		justify-content: center;

		&__spinner {
			@keyframes spin {
				to {
					transform: rotate(360deg);
				}
			}
			@-webkit-keyframes spin {
				to {
					transform: rotate(360deg);
				}
			}

			display: inline-block;
			margin: 20px 0;
			width: 32px;
			height: 32px;
			border: 2px solid rgba(0, 0, 0, .3);
			border-radius: 50%;
			border-top-color: #161225;
			animation: spin 1s ease-in-out infinite;
		}
	}
}
